.Category {
  padding: 120px 0px;
  /* background-color: #df2020; */
  width: 100%;
}
.Category_heading {
  margin: auto;
  width: 70%;
  /* background-color: orange; */
}
.Common_heading {
  font-family: var(--montfont);
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
}
.Category_heading h3 span {
  color: var(--bgblue);
}
.Category_main {
  position: relative;
  padding: 20px 40px;
  row-gap: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.Category_main .svg {
  position: absolute;
  left: 0;
  bottom: 0;
}
